body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* Fuerza el fondo claro global */
  -webkit-font-smoothing: antialiased;
}

input {
  background-color: #ffffff !important;
  color: #0f172a !important;
}

input::placeholder {
  color: #9ca3af !important;
}